:host {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.description {
  margin-left: 16px;
  width: 400px;
  min-width: 400px;
}
