@import '~@angular/material/theming';
@import '../styles.scss';

.header {
  display: flex;
  background: #ffc107;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffc107;

  // background-image: url('/assets/tree.svg');
  // background-image: url('/assets/balloons.svg');
  background-image: url('/assets/mountains.svg');
  background-attachment: fixed;
  background-size: cover;

  // background-color: mat-color($dark-primary);
  // color: rgb(0, 0, 0, 0.87);
}

.header-content {
  display: flex;
  padding: 8px;
}

.right-content {
  display: flex;
}

.spacer {
  flex: 1 0 auto;

}

.avatar {
  margin-top: 24px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.who-am-i>* {
  font-family: Courier !important;
}

.question {
  font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 500;
    font-stretch: normal;
    font-size: 24px;
    line-height: 32px;

    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.name {
  font-size: 18px;
}

.me {
  max-width: 400px;
}
