<div class="header who-am-i">

  <span class="spacer"></span>
  <div class="header-content">
    <div class="left-content">

      <div class="question">Who am I?</div>
      <div class="name">
      Craig Fullerton
    </div>
    <div class="question">Who am I really?</div>

    <div class="me">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu gravida risus, sed varius lorem.
      Phasellus convallis sodales enim. Maecenas imperdiet nulla vel eros scelerisque varius.
      Aenean tempus fermentum nulla ac vulputate. Quisque sagittis ornare fermentum. Suspendisse egestas augue eget
      rhoncus maximus.
      Duis imperdiet metus non magna volutpat, in aliquam eros porta. Pellentesque tempor nunc mauris. Nam accumsan
      magna nibh, volutpat auctor elit maximus ac.
    </div>
  </div>
  <div class="right-content">
    <img class="avatar" src="assets/profile-solo-2.jpg" alt="avatar"/>
  </div>
  </div>
  <span class="spacer"></span>
</div>

<div class="content-container">

  <my-projects></my-projects>
</div>
